* {
    box-sizing: border-box;
}



body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #5A5A5A;
    margin: 0;
    height: 100%;
}

#main-header {
    height: 110px;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-weight: lighter;
}

#tabs {
    border: 0;
    padding:0;
    height: 1100px;
}

.tab-content {
    padding-left: 23px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #efefef;
    margin-top: 0;
    border-top-width: 2px;
    border-top-color: #00a6a0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {

}

.ui-tabs .ui-tabs-panel {
    background-color: #efefef;
    height: 100%;
}

.ui-tabs .ui-tabs-nav {
    padding-left: 25px;
}

.ui-tabs .ui-tabs-nav li {
    background-image: none;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ui-tabs-vertical {
    width: initial !important;
}

.ui-tabs-vertical .ui-tabs-nav li {
    background-image: none;
    background-color: white;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 2px 0 !important;
    margin-right: 0;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    border-width: 1px;
    border-left-width: 2px;
    margin: 2px 0;
    border-color: #aeaeae;
    border-left-color: #00a6a0;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
    padding-left: calc(1em - 1px);
}

#vtabs > ul {
    width: initial;
    padding-right: 0;
}

.ui-tabs-nav li a:focus {
    outline: 0 !important;
}

.ui-tabs-vertical .ui-tabs-panel {
    border: 1px solid rgb(174, 174, 174);
    border-radius: 0px;
    margin-top: 4px;
    height: calc(6.5em + 19px);
    display: block;
    text-align: right;
    border-radius: 3px;
    margin-bottom: 2px;
    margin-right: 3px;
}



.ui-corner-top {
    border-radius: 0;
}

.ui-widget-header {
    background: none;
    background-color: white;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #aaaaaa;
}

.ui-widget-content, .ui-tabs {
    /*color: black;*/
}

.ubxTableContainer{
    display: table;
    padding: 20px;
    width: 100%;
}

.ubxLabelStyle{
    /*color: #5a5a5a;*/
    color: black;
    font-size: 100%;
    margin-bottom: 15px;
}

.ubxRowStyle {
    display: table-row;
    padding: 20px;
}

.ubxCellStyle {
    display: table-cell;
    padding: 10px;
}


.endpoint-radio-option {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

.textboxStyle {
    border:1px solid #d1c7ac;
    width: 230px;
    color:#333333;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.responseboxStyle {

    border:1px solid #d1c7ac;
    width: 410px;
    height: 50px;
    color:#333333;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family:tahoma, arial, sans-serif;
}

.textareaStyle {
    background-repeat:repeat-x;
    border:1px solid #d1c7ac;
    width: 450px;
    height: 350px;
    color:#333333;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family:tahoma, arial, sans-serif;
}

.ubxButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddbfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.ubxButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
    background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
    background-color:#80b5ea;
}
.ubxButton:active {
    position:relative;
    top:1px;
}

.ui-widget {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: inherit;
}

label {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #D1D3D4
}

.ui-widget input {
    width: 450px;
}
/* hide input */
input.radio:empty {
    margin-left: -1025px;
}

input.radio:checked ~ label:before {
    color: white;
}

/* style label */
input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 1.5em;
    text-indent: 3.25em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #888;
}

input.radio:checked ~ label {
    background-color: white;
    color: black;
}

/* radio focus */
input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.ui-state-focus {
    outline: 0;
}
