<!doctype html>
<html lang="en" ng-app="ubxtour">
<head>
    <meta charset="utf-8">
    <title>UBX technical session</title>
    <link rel="stylesheet" href="libs/jquery-ui/themes/smoothness/jquery-ui.css">
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/jquery-ui/jquery-ui.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="apiCore.js"></script>
    <script src="dataStore.js"></script>
    <link rel="stylesheet" href="app.css">

    <script>
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>
    <script>
        $(function () {
            $("#vtabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#vtabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
        });
    </script>
    <style>
        .ui-tabs-vertical {
            width: 80em;
        }

        .ui-tabs-vertical .ui-tabs-nav {
            padding: .2em .1em .2em .2em;
            float: left;
            width: 12em;
        }

        .ui-tabs-vertical .ui-tabs-nav li {
            clear: left;
            width: 100%;
            border-bottom-width: 1px !important;
            border-right-width: 0 !important;
            margin: 0 -1px .2em 0;
        }

        .ui-tabs-vertical .ui-tabs-nav li a {
            display: block;
        }

        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
            padding-bottom: 0;
            padding-right: .1em;
            border-right-width: 1px;
        }

        .ui-tabs-vertical .ui-tabs-panel {
        }
    </style>
</head>
<body>

<div id="main-header">IBM - UBX Quick Start Tool</div>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Overview</a></li>
        <li><a href="#tabs-2">Register endpoints</a></li>
        <li><a href="#tabs-3">Register events</a></li>
        <li><a href="#tabs-4">Send events</a></li>
        <li><a href="#tabs-5">Monitor events</a></li>
        <li><a href="#tabs-6">Audience APIs</a></li>
        <li><a href="#tabs-7">Monitor audiences</a></li>
    </ul>
    <div id="tabs-1">
        <div class="tab-content">
            <p>
                IBM® UBX is a cloud-based service from IBM that provides a way to selectively
                exchange data between various IBM and third-party marketing automation and
                marketing analytics applications.</p>
            <p>UBX users can quickly integrate data from various IBM Commerce applications
                that they either own or that they can access as a service. They can also integrate
                data from selected independent marketing automation providers who collaborate
                with IBM to make their customer interactions available through UBX.
                As an IBM Business Partner that participates in UBX, you can expand your
                exposure to users who are actively looking to establish connections to new types of
                marketing data. Your value to these individuals is enhanced because they can now
                combine your marketing data with complementary data from IBM Commerce
                applications and other IBM Business Partner applications. UBX users can blend
                data contributions from multiple UBX endpoints to build a view of their customers
                that is richer, better targeted, and more timely than any single application can
                provide.</p
            <p>You can call several public APIs to access UBX programatically over a secure
                connection. You can also access UBX through a secure login that IBM assigns to the
                UBX account that it creates for your business organization.
            </p>
            <p></p><br/>
            <p>
                During this session, you will learn to <br/>
            <ol>
                <li>Navigate the UBX Web Interface</li>
                <li>Register a new endpoint</li>
                <li>Register a custom event type</li>
                <li>Subscribe an event to an endpoint</li>
                <li>Send an event to the destination endpoint</li>
            </ol>
            </p>
        </div>
    </div>
    <div id="tabs-2">

        <div class="tab-content" ng-controller="RegisterEndpoints">

            <div>
                <div class="ubxLabelStyle"><b>Select endpoint type:</b></div>
                <div class="endpoint-radio-option">
                    <input type="radio" name="radio" id="radio1" class="radio" checked ng-click="endpointTypeChanged(1)"/>
                    <label for="radio1">Event source</label>
                </div>

                <div class="endpoint-radio-option">
                    <input type="radio" name="radio" id="radio2" class="radio" ng-click="endpointTypeChanged(2)"/>
                    <label for="radio2">Event destination</label>
                </div>

                <div class="endpoint-radio-option">
                    <input type="radio" name="radio" id="radio3" class="radio" ng-click="endpointTypeChanged(3)"/>
                    <label for="radio3">Audience source</label>
                </div>

                <div class="endpoint-radio-option">
                    <input type="radio" name="radio" id="radio4" class="radio" ng-click="endpointTypeChanged(4)"/>
                    <label for="radio4">Audience destination</label>
                </div>
            </div>

            <div style="margin-top: 30px;">
                <div class="ubxLabelStyle"><b>URL to the endpoint API:</b></div>
                <input name="endpointUrl" class="textboxStyle" type="text" ng-modal="endpointUrl" value="https://api-pilot.ubx.ibmmarketingcloud.com/v1/endpoint" ng-disabled="true" disabled="disabled">
            </div>

            <div style="margin-top: 30px;">
                <div class="ubxLabelStyle"><b>Headers</b></div>

                <div class="ubxLabelStyle">Authorization:</div>
                <div class="ubxLabelStyle">This key is obtained from the UBX UI by clicking on "Register an endpoint"</div>
                <input class="textboxStyle" type="text" ng-model="endpointAuthorizationModal" value="{{endpointAuthorization}}" ng-change="endpointAuthorizationChanged()"/>

                <div class="ubxLabelStyle" style="margin-top: 15px;">Content-Type:</div>
                <div class="ubxLabelStyle">Content-Type must be set to application/JSON; charset=utf-8</div>
                <input class="textboxStyle" type="text" ng-model="endpointContentType" value="{{endpointContentType}}" ng-disabled="true"/>

            </div>

            <div style="margin-top: 30px; height: 400px;">
                <div style="width: 40%; display: inline-block; float: left">
                    <div class="ubxLabelStyle"><b>Payload</b></div>
                    <textarea id="endpointPayload" class="textareaStyle" ng-modal="endpointPayloadModal" ng-keyup="endpointPayloadChanged(this)">{{endpointPayloadModal}}</textarea>
                </div>
                <div style="display:inline-block; width: 50%; margin-top: 30px;" >

                    <div class="ubxRowStyle" style="margin-top: 30px;">
                        <div class="ubxCellStyle">name</div><div class="ubxCellStyle">Name of the business application.</div>
                    </div>
                    <div class="ubxRowStyle">
                        <div class="ubxCellStyle">description</div><div class="ubxCellStyle">The UBX interface displays the
                        description that you enter here.</div>
                    </div>
                    <div class="ubxRowStyle">
                        <div class="ubxCellStyle">providerName</div><div class="ubxCellStyle">Name of the endpoint provider.</div>
                    </div>
                    <div class="ubxRowStyle">
                        <div class="ubxCellStyle">url</div><div class="ubxCellStyle">A single global URL that UBX uses to
                        communicate with the endpoint, for all
                        endpoint types.</div>
                    </div>

                </div>
            </div>

            <div>
                <button class="ubxButton" ng-click="sendendpointRegistration()">Send</button><br><br>
                <div class="ubxLabelStyle">Response</div>
                <textarea class="responseboxStyle" ng-modal="endpointResponse">{{endpointResponse}}</textarea>
            </div>


        </div>
    </div>
    <div id="tabs-3"  ng-controller="RegisterEvent">
        <div class="tab-content">
            <div>
                <div class="ubxLabelStyle"><b>URL to the event type API:</b></div>
                <input name="eventURL" class="textboxStyle" type="text"  ng-model="eventTypeUrlModel">
            </div>

            <div style="margin-top: 30px;">
                <div class="ubxLabelStyle"><b>Headers</b></div>

                <div class="ubxLabelStyle">Authorization:</div>
                <div class="ubxLabelStyle">This key is obtained from the UBX UI by clicking on "Register an endpoint"</div>
                <input class="textboxStyle" type="text" ng-model="eventTypeAuthorizationModel"/>

                <div class="ubxLabelStyle" style="margin-top: 15px;">Content-Type:</div>
                <div class="ubxLabelStyle">Content-Type must be set to application/JSON; charset=utf-8</div>
                <input class="textboxStyle" type="text"  ng-model="eventTypeContentTypeModel"/>

            </div>


            <div style="margin-top: 30px; height: 400px;">
                <div style="width: 40%; display: inline-block; float: left">
                    <div class="ubxLabelStyle"><b>Payload</b></div>
                    <textarea class="textareaStyle" ng-model="eventTypePayloadModel"></textarea>
                </div>
                <div style="display:inline-block; width: 50%; margin-top: 30px;" >

                    <div class="ubxRowStyle" style="margin-top: 30px;">
                        <div class="ubxCellStyle">name</div><div class="ubxCellStyle">Name of the business application.</div>
                    </div>
                    <div class="ubxRowStyle">
                        <div class="ubxCellStyle">description</div><div class="ubxCellStyle">The UBX interface displays the
                        description that you enter here.</div>
                    </div>
                    <div class="ubxRowStyle">
                        <div class="ubxCellStyle">providerName</div><div class="ubxCellStyle">Name of the endpoint provider.</div>
                    </div>
                    <div class="ubxRowStyle">
                        <div class="ubxCellStyle">url</div><div class="ubxCellStyle">A single global URL that UBX uses to
                        communicate with the endpoint, for all
                        endpoint types.</div>
                    </div>

                </div>
            </div>

            <div>
                <button class="ubxButton"  ng-click="registerEvent()">Send</button><br><br>
                <div class="ubxLabelStyle">Response</div>
                <textarea class="responseboxStyle" ng-model="eventTypeResponseModel"></textarea>
            </div>

        </div>
    </div>
    <div id="tabs-4" ng-controller="SendEvent">
        <div class="tab-content">
            <div>
                <div class="ubxLabelStyle"><b>URL to the event type API:</b></div>
                <input name="eventURL" class="textboxStyle" type="text"  ng-model="eventUrlModel"/>
            </div>

            <div style="margin-top: 30px;">
                <div class="ubxLabelStyle"><b>Headers</b></div>

                <div class="ubxLabelStyle">Authorization:</div>
                <div class="ubxLabelStyle">This key is obtained from the UBX UI by clicking on "Register an endpoint"</div>
                <input class="textboxStyle" type="text" ng-model="eventAuthorizationModel"/>

                <div class="ubxLabelStyle" style="margin-top: 15px;">Content-Type:</div>
                <div class="ubxLabelStyle">Content-Type must be set to application/JSON; charset=utf-8</div>
                <input class="textboxStyle" type="text" ng-model="eventContentTypeModel" ng-disabled="true"/>

            </div>


            <div style="margin-top: 30px; height: 400px;">
                <div style="width: 40%; display: inline-block; float: left">
                    <div class="ubxLabelStyle"><b>Payload</b></div>
                    <textarea class="textareaStyle"  ng-model="eventPayloadModel"></textarea>
                </div>
                <div style="display:inline-block; width: 50%; margin-top: 30px;" >

                    <div class="ubxRowStyle" style="margin-top: 30px;">
                        <div class="ubxCellStyle">name</div><div class="ubxCellStyle">Name of the business application.</div>
                    </div>
                    <div class="ubxRowStyle">
                        <div class="ubxCellStyle">description</div><div class="ubxCellStyle">The UBX interface displays the
                        description that you enter here.</div>
                    </div>
                    <div class="ubxRowStyle">
                        <div class="ubxCellStyle">providerName</div><div class="ubxCellStyle">Name of the endpoint provider.</div>
                    </div>
                    <div class="ubxRowStyle">
                        <div class="ubxCellStyle">url</div><div class="ubxCellStyle">A single global URL that UBX uses to
                        communicate with the endpoint, for all
                        endpoint types.</div>
                    </div>

                </div>
            </div>

            <div>
                <button class="ubxButton" ng-click="sendEvent()">Send</button><br><br>
                <div class="ubxLabelStyle">Response</div>
                <textarea class="responseboxStyle" ng-model="eventResponseModel">{{eventResponseModel}}</textarea>
            </div>

        </div>
    </div>
    <div id="tabs-5">
        <p>
        <div ng-controller="EndpointTabsCtrl" style="background-color: #f4f4f">

            <ul>
                <li ng-repeat="eData in endpointData">
                    <a href="#vtabs-{{eData.id}}">{{eData.endpointURL}}</a>
                </li>
            </ul>
            <div ng-repeat="eData in endpointData" style="word-wrap: break-word">
                <div id="vtabs-{{eData.id}}">
                    <h2>{{eData.endpointURL}}</h2>

                    <p id="result{{eData.id}}"></p>
                </div>
            </div>
        </div>
        </p>

    </div>
    <div id="tabs-6">
        <div class="tab-content" ng-controller="SegmentsAPI">
            <div>
                <div class="ubxLabelStyle"><b>URL:</b></div>
                <input name="eventURL" class="textboxStyle" type="text"  ng-model="getSegmentsUrlModel"/>
            </div>

            <div style="margin-top: 30px;">
                <div class="ubxLabelStyle"><b>Headers</b></div>

                <div class="ubxLabelStyle">Authorization:</div>
                <input class="textboxStyle" type="text" ng-model="getSegmentsAuthorizationModel"/>

                <div class="ubxLabelStyle" style="margin-top: 15px;">Content-Type:</div>
                <div class="ubxLabelStyle">Content-Type must be set to application/JSON; charset=utf-8</div>
                <input class="textboxStyle" type="text" ng-model="getSegmentsContentTypeModel" ng-disabled="true"/>

            </div>


            <div>
                <button class="ubxButton" ng-click="getSegments()">Send</button><br><br>
                <div class="ubxLabelStyle">Response</div>
                <textarea class="responseboxStyle" ng-model="getSegmentsResponseModel">{{getSegmentsResponseModel}}</textarea>
            </div>

        </div>
    </div>
    <div id="tabs-7" ng-controller="AudienceMonitor">
        <p>
        <div class="ubxTableContainer">
            <div class="ubxRowStyle">
                <div class="ubxCellStyle">
                    <div style="position: relative; float: left; font-size: 125%;">Source audience</div><div style="position: relative; float: right;">
                    <img class="reloadthing" src="images/reload.png" style="margin-top: -10px; width: 40px; height: 40px; cursor: pointer;" ng-click="refreshSourceAudienceiFrame()"></div><br/>
                </div>
                <div class="ubxCellStyle">
                    <div style="position: relative; float: left; font-size: 125%;">Destination audience</div><div style="position: relative; float: right;">
                    <img class="reloadthing" src="images/reload.png" style="margin-top: -10px; width: 40px; height: 40px; cursor: pointer;  margin-right: 100px;" ng-click="refreshDestinationAudienceiFrame()"></div><br/>
                </div>
            </div>

            <div class="ubxRowStyle">
                <div class="ubxCellStyle" style="width: 500px">
                    <iframe id="sourceAudienceiFrame" ng-src="http://169.45.67.107/audience/producer/" style="width: 500px; height: 400px;"></iframe>

                    <br>
                    <br>
                    <div id="btoggle1" style="font-size: 16px; cursor: pointer; cursor: hand;text-decoration: underline;">API 1</div>
                    <div id="contentp1" style="width: 500px; background-color: #F2F2F2; padding: 10px;">API content1</div>
                    <br/>
                    <div id="btoggle2" style="font-size: 16px; cursor: pointer; cursor: hand;text-decoration: underline;">API 2</div>
                    <div id="contentp2" style="width: 500px; background-color: #F2F2F2; padding: 10px;">API content2</div>

                </div>
                <div class="ubxCellStyle">
                    <iframe id="destinationAudienceiFrame" ng-src="http://169.45.67.107/audience/consumer/" style="width: 500px; height: 400px;"></iframe>
                </div>
            </div>
        </div>
        </p>

    </div>
</div>


</body>
</html>